*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
}

.container{
    max-width: 1058px;
    width: 100%;
    margin: auto;
}



.header{
    padding-top: 15px;
    padding-bottom: 24px;
}

.header__container{
    background-color: #1B152B;
    padding: 12px 20px;
    border-radius: 47px;
    display: flex;
    align-items: center;
    gap: 234px;
}

.logo{
    width: 175px;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.nav a{
    font-family: "Manrope";
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

a:hover{
    color: #7F56D9;
}

button{
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    background-color: #7F56D9;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover{
    background-color:#4b2b8f;
}



.hero{
    padding-top: 40px;
    margin-bottom: 50px;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

.hero__container h1{
    font-size: 72px;
    text-align: center;
    line-height: auto;
    color: #1B152B;
    margin-bottom: 16px;
}

.hero__container p{
    font-family: 'Manrope';
    text-align: center;
    color: #7A7D9C;
    margin: auto;
    margin-bottom: 16px;
}

.hero__but{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 64px;
}

.aline{
    background-color: #1B152B;
}

.aline:hover{
    background-color: #000000;
}

.hero__img img{
    width: 1058px;
    margin-bottom: 48px;
}

.block{
    box-shadow: 1px 1px 5px #EFF0F6;
    border-radius: 16px;
    padding: 16px 111.5px;
    display: flex;
    gap: 62px;
}

.item2{
    padding: 0 62px;
    border-left: 1px solid #EDF0EE;
    border-right: 1px solid #EDF0EE;
}

.item  h3{
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #7F56D9;
}

.item1 p{
    width: 233px;
}

.item2 p{
    width: 129px;
}

.item3{
    width: 225px;
}

.item p{
    font-family: 'Manrope';
    font-size: 24px;
    color: #7F56D9;
}

.bar{
    display: none;
}

#check{
    display: none;
}

@media screen and (max-width: 996px){

    body{
        background-color: #F9FAFB;
    }
    .container{
        max-width: 692px;
        width: 100%;
        margin: auto;
    }

    .header{
        padding: 0;
        padding-top: 15px;
        margin-bottom: 32px;
    }

    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 48px;
    }

    .hero{
        padding: 0;
    }

    .hero__container{
        display: flex;
        flex-direction: column; 
    }

    .hero__container h1{
        font-size: 46px;
        margin-bottom: 16px;
    }

    .hero__container p{
        margin-bottom: 16px;
    }

    .hero__img img{
        width: 659px;
        height: 245px;
        margin-bottom: 48px;
    }

    .block{
        padding: 16px 48px;
        display: flex;
        gap: 20px;
        background-color: white;
    }

    .item h3{
        font-weight: 400;
        font-size: 36px;
    }

    .item p{
        font-weight: 400;
        font-size: 20px;
    }

    .item1 p{
        width: 188px;
    }

    .item2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .item2 p{
        width: 109px;
    }
}

@media screen and (max-width:565px) {
    .container{
        max-width: 304px;
        width: 100%;
        margin: auto;
    }
    .header{
        padding-top: 32px;
        padding-bottom: 16px;
        margin-bottom: 0;
    }    

    .header__container{
        padding: 5px 11px;
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .logo img{
        width: 92px;
        height: 13px;
    }

    .hero__container h1{
        font-size: 24px;
        margin-bottom: 8px;
    }

    .hero__container p{
        font-size: 12px;
        margin-bottom: 8px;
    }

    .hero__but{
        margin-bottom: 17px;
    }

    button{
        font-size: 12px;
        padding: 5px 11px;
    }

    .hero__img img{
        width: 304px;
        height: 245px;
        margin-bottom: 47px;
    }

    .block{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .item h3{
        font-size: 20px;
        font-weight: 400;
    }

    .item p{
        font-size: 16px;
        font-weight: 400;
    }

    .item2{
        border: none;
        border-top: 1px solid #EDF0EE;
        border-bottom: 1px solid #EDF0EE;
    }




    .but button{
        display: none;
    }

    .nav{
        display: none;
    }

    .bar{
        display: block;
    }

    #check:checked ~ nav{
        display: block;
        position: relative;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        top: 19px;
    }

    ul a{
        font-size: 10px;
        color: black;
    }
}